Repository kubernetes/ingress-nginx, pull requests merged in 2021-11, with the labels that each got.

#7867 fix ingress syntax error.
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/examples/affinity/cookie/ingress-samesite.yaml
  docs/examples/affinity/cookie/ingress.yaml
  docs/examples/auth/basic/README.md
  docs/examples/auth/client-certs/ingress.yaml
  docs/examples/auth/external-auth/README.md
  docs/examples/auth/external-auth/ingress.yaml
  docs/examples/auth/oauth-external-auth/dashboard-ingress.yaml
  docs/examples/chashsubset/deployment.yaml
  docs/examples/customization/configuration-snippets/ingress.yaml
  docs/examples/customization/external-auth-headers/deploy/echo-service.yaml
  docs/examples/docker-registry/ingress-with-tls.yaml
  docs/examples/docker-registry/ingress-without-tls.yaml
  docs/examples/multi-tls/multi-tls.yaml
  docs/examples/rewrite/README.md
  docs/examples/static-ip/nginx-ingress.yaml
  docs/examples/tls-termination/README.md
  docs/examples/tls-termination/ingress.yaml
  docs/user-guide/fcgi-services.md
  docs/user-guide/ingress-path-matching.md
  docs/user-guide/third-party-addons/opentracing.md
Labels: cncf-cla: yes, lgtm, area/docs, size/L, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7854 add `brotli-min-length` configuration option
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/settings/brotli.go
Labels: cncf-cla: yes, lgtm, area/docs, size/M, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7870 remove build-plugin extra quote
  build/build-plugin.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7711 feature: added AdmissionController metrics
  cmd/nginx/main.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/nginx.go
  internal/ingress/metric/collectors/admission.go
  internal/ingress/metric/collectors/admission_test.go
  internal/ingress/metric/dummy.go
  internal/ingress/metric/main.go
Labels: cncf-cla: yes, lgtm, size/L, approved, needs-kind, tide/merge-method-squash, ok-to-test, needs-triage, needs-priority

#7614 Support cors-allow-origin with multiple origins
  build/dev-env.sh
  docs/user-guide/nginx-configuration/annotations.md
  go.mod
  go.sum
  internal/ingress/annotations/annotations_test.go
  internal/ingress/annotations/cors/main.go
  internal/ingress/annotations/cors/main_test.go
  internal/ingress/controller/template/template.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/cors.go
Labels: cncf-cla: yes, lgtm, area/docs, size/XL, kind/feature, priority/important-soon, approved, tide/merge-method-squash, ok-to-test, triage/accepted

#7863 Fix typos in ISSUE_TRIAGE.md
  ISSUE_TRIAGE.md
Labels: cncf-cla: yes, lgtm, size/S, priority/important-soon, kind/documentation, approved, ok-to-test, triage/accepted

#7889 changed text and added command as per issue 7888
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7894 Fix Formatting/Typo for comfigmap.md
  docs/user-guide/nginx-configuration/configmap.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#7757 Try to improve the installation guide
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/L, priority/important-soon, kind/documentation, approved, ok-to-test, triage/accepted

#7830 Remove double spacing in configmap data
  charts/ingress-nginx/templates/controller-configmap.yaml
Labels: cncf-cla: yes, lgtm, size/XS, kind/bug, approved, ok-to-test, triage/accepted, area/helm, needs-priority

#7898 Update proxy-set-header example
  docs/user-guide/nginx-configuration/configmap.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, kind/documentation, approved, needs-triage, needs-priority

#7579 Fix Ingress resources in docs
  .github/ISSUE_TEMPLATE/bug_report.md
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/NOTES.txt
  docs/examples/affinity/cookie/ingress-samesite.yaml
  docs/examples/affinity/cookie/ingress.yaml
  docs/examples/auth/basic/README.md
  docs/examples/auth/client-certs/ingress.yaml
  docs/examples/auth/external-auth/ingress.yaml
  docs/examples/auth/oauth-external-auth/dashboard-ingress.yaml
  docs/examples/chashsubset/deployment.yaml
  docs/examples/customization/configuration-snippets/ingress.yaml
  docs/examples/customization/external-auth-headers/deploy/echo-service.yaml
  docs/examples/docker-registry/ingress-with-tls.yaml
  docs/examples/docker-registry/ingress-without-tls.yaml
  docs/examples/grpc/README.md
  docs/examples/index.md
  docs/examples/multi-tls/multi-tls.yaml
  docs/examples/rewrite/README.md
  docs/examples/static-ip/nginx-ingress.yaml
  docs/examples/tls-termination/README.md
  docs/examples/tls-termination/ingress.yaml
  docs/user-guide/basic-usage.md
  docs/user-guide/fcgi-services.md
  docs/user-guide/ingress-path-matching.md
  docs/user-guide/third-party-addons/opentracing.md
Labels: cncf-cla: yes, lgtm, area/docs, size/M, needs-ok-to-test, kind/documentation, approved, triage/accepted, area/helm, needs-priority

#7899 Update anchor links of Nodeport from #nodeport to #type-nodeport
  docs/deploy/baremetal.md
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#7904 fix missing `\-` in regex expression for CORS wildcard domain
  internal/ingress/controller/template/template.go
  test/e2e/annotations/cors.go
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, priority/important-soon, approved, ok-to-test, triage/accepted

#7908 Update docs with a warning about cert chain order
  docs/examples/PREREQUISITES.md
  docs/user-guide/tls.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, kind/documentation, approved, needs-triage, needs-priority

#7874 Add option to sanitize annotation inputs
  internal/ingress/annotations/parser/main_test.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/store/store.go
  test/e2e/admission/admission.go
  test/e2e/annotations/globalratelimit.go
  test/e2e/annotations/modsecurity/modsecurity.go
  test/e2e/framework/util.go
  test/e2e/ingress/pathtype_mixed.go
  test/e2e/settings/badannotationvalues.go
Labels: cncf-cla: yes, lgtm, size/L, kind/feature, priority/critical-urgent, approved, triage/accepted

#7472 Support watch multiple namespaces matched witch namespace selector
  charts/ingress-nginx/templates/_params.tpl
  charts/ingress-nginx/templates/clusterrole.yaml
  charts/ingress-nginx/values.yaml
  cmd/nginx/flags.go
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/user-guide/cli-arguments.md
  go.mod
  go.sum
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/store/namespace.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/store/store_test.go
  test/e2e-image/namespace-overlays/namespace-selector/values.yaml
  test/e2e/framework/deployment.go
  test/e2e/framework/framework.go
  test/e2e/framework/k8s.go
  test/e2e/framework/util.go
  test/e2e/settings/namespace_selector.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, kind/feature, approved, ok-to-test, needs-triage, area/helm, needs-priority

#7903 fix compiling kubectl-ingress_nginx error and add some descriptions for build command.
  build/build-plugin.sh
  build/build.sh
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7608 Rewrite multiple-ingress.md to work with v1
  docs/user-guide/multiple-ingress.md
Labels: cncf-cla: yes, lgtm, area/docs, size/M, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7533 Allow setting of container securityContext
  charts/ingress-nginx/templates/_helpers.tpl
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, needs-kind, ok-to-test, needs-triage, area/helm, needs-priority

#7914 Update Bare Metal anchor link
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#7922 Try to improve test speed
  test/e2e-image/e2e.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7806 helm chart: choice option for internal/external loadbalancer type ser…
  charts/ingress-nginx/templates/_params.tpl
  charts/ingress-nginx/templates/controller-service.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, needs-ok-to-test, priority/important-longterm, approved, triage/accepted, area/helm

#7921 Add docs and second test into sanitization
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
Labels: cncf-cla: yes, lgtm, area/docs, size/S, approved, needs-kind, needs-triage, needs-priority

#7923 Prepare for v1.0.5 release
  TAG
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7924 Release v1.0.5 documents
  Changelog.md
  README.md
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  stable.txt
Labels: cncf-cla: yes, lgtm, area/docs, size/XL, approved, needs-kind, needs-triage, area/helm, needs-priority

#7928 Force helm v4.0.8 release
  charts/ingress-nginx/Chart.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
Labels: cncf-cla: yes, size/L, approved, needs-kind, needs-triage, area/helm, needs-priority

#7925 Legacy cherrypick
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/annotations/parser/main_test.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/template/template.go
  test/e2e/admission/admission.go
  test/e2e/annotations/globalratelimit.go
  test/e2e/annotations/modsecurity.go
  test/e2e/framework/util.go
  test/e2e/ingress/pathtype_mixed.go
  test/e2e/settings/badannotationvalues.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, approved, needs-kind, needs-triage, needs-priority

#7930 update doc for patched status
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, kind/documentation, approved, triage/accepted, needs-priority

#7941 update kubectl plugin build for darwin arm64
  build/build-plugin.sh
  cmd/plugin/ingress-nginx.yaml.tmpl
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, priority/backlog, approved, triage/accepted

#6992 [Helm] Add labels to resources
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/clusterrole.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/clusterrolebinding.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/psp.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/role.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/rolebinding.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/serviceaccount.yaml
  charts/ingress-nginx/templates/admission-webhooks/validating-webhook.yaml
  charts/ingress-nginx/templates/clusterrole.yaml
  charts/ingress-nginx/templates/clusterrolebinding.yaml
  charts/ingress-nginx/templates/controller-configmap-addheaders.yaml
  charts/ingress-nginx/templates/controller-configmap-proxyheaders.yaml
  charts/ingress-nginx/templates/controller-configmap-tcp.yaml
  charts/ingress-nginx/templates/controller-configmap-udp.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/templates/controller-hpa.yaml
  charts/ingress-nginx/templates/controller-keda.yaml
  charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
  charts/ingress-nginx/templates/controller-psp.yaml
  charts/ingress-nginx/templates/controller-role.yaml
  charts/ingress-nginx/templates/controller-rolebinding.yaml
  charts/ingress-nginx/templates/controller-service-webhook.yaml
  charts/ingress-nginx/templates/controller-serviceaccount.yaml
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/templates/default-backend-hpa.yaml
  charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml
  charts/ingress-nginx/templates/default-backend-psp.yaml
  charts/ingress-nginx/templates/default-backend-role.yaml
  charts/ingress-nginx/templates/default-backend-rolebinding.yaml
  charts/ingress-nginx/templates/default-backend-service.yaml
  charts/ingress-nginx/templates/default-backend-serviceaccount.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, lifecycle/active, tide/merge-method-squash, ok-to-test, area/helm

#7948 applied allowPrivilegeEscalation=false
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, area/helm, needs-priority

#7942 update default block list,docs, tests
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/store/store.go
  test/e2e/admission/admission.go
  test/e2e/framework/util.go
  test/e2e/settings/badannotationvalues.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, kind/bug, priority/critical-urgent, approved, tide/merge-method-squash, ok-to-test, triage/accepted

#7963 Change sanitization message from error to warning
  internal/ingress/controller/controller.go
  internal/ingress/controller/store/store.go
Labels: cncf-cla: yes, size/XS, kind/feature, priority/critical-urgent, do-not-merge/hold, approved, triage/accepted

#7962 Start Release process for v1.1.0
  TAG
Labels: cncf-cla: yes, size/XS, kind/feature, priority/critical-urgent, approved, triage/accepted

#7964 Release updates for v1.1.0
  Changelog.md
  README.md
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  stable.txt
Labels: cncf-cla: yes, lgtm, area/docs, size/XL, kind/feature, priority/critical-urgent, approved, triage/accepted, area/helm

#7957 Add documentation for "force-ssl-redirect"
  docs/user-guide/nginx-configuration/configmap.md
  docs/user-guide/tls.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#7944 admission: improved log messages for ingress name
  internal/admission/controller/main.go
Labels: cncf-cla: yes, lgtm, size/XS, kind/documentation, approved, needs-triage, needs-priority

#7965 Legacy cherrypick
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/store/store.go
  test/e2e/admission/admission.go
  test/e2e/framework/util.go
  test/e2e/settings/badannotationvalues.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, kind/feature, priority/critical-urgent, approved, triage/accepted

#7972 updated service upstream definition
  docs/user-guide/nginx-configuration/annotations.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, needs-triage, needs-priority

#7973 tag for build start
  TAG
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, priority/critical-urgent, approved, triage/accepted

#7974 Release v0.50.0 update
  Changelog.md
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  stable.txt
Labels: cncf-cla: yes, lgtm, size/XL, approved, needs-kind, needs-triage, area/helm, needs-priority

#7975 add legacy version update v0.50.0 to main changelog
  Changelog.md
Labels: cncf-cla: yes, size/S, priority/backlog, kind/documentation, approved, triage/accepted

#7873 Making Kube service appProtocol field optional
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/controller-service.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, area/docs, size/S, kind/feature, priority/important-longterm, approved, ok-to-test, triage/accepted, area/helm

#7983 Fix a couple of misspellings in the annotations documentation.
  docs/user-guide/nginx-configuration/annotations.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7940 Fix names in documentation
  docs/deploy/index.md
  docs/deploy/rbac.md
  docs/deploy/upgrade.md
  docs/examples/affinity/cookie/README.md
  docs/examples/auth/oauth-external-auth/README.md
  docs/examples/customization/sysctl/README.md
  docs/examples/grpc/README.md
  docs/examples/multi-tls/README.md
  docs/examples/static-ip/README.md
  docs/examples/static-ip/nginx-ingress-controller.yaml
  docs/examples/static-ip/static-ip-svc.yaml
  docs/examples/tls-termination/README.md
  docs/kubectl-plugin.md
  docs/troubleshooting.md
  docs/user-guide/cli-arguments.md
  docs/user-guide/convert_arguments_to_doc.py
  docs/user-guide/multiple-ingress.md
  docs/user-guide/tls.md
Labels: cncf-cla: yes, lgtm, area/docs, size/L, priority/backlog, kind/documentation, approved, ok-to-test, triage/accepted

#7953 Improve admission e2e-tests
  test/e2e/admission/admission.go
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, priority/important-longterm, approved, ok-to-test, triage/accepted

#7935 Fix command in index.md
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7979 allow set annotations for admission Jobs
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, priority/important-soon, approved, tide/merge-method-squash, ok-to-test, triage/accepted, area/helm

#7977 Add ssl_reject_handshake to defaul server
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  rootfs/etc/nginx/template/nginx.tmpl
Labels: cncf-cla: yes, lgtm, area/docs, size/S, priority/important-soon, approved, needs-kind, ok-to-test, triage/accepted
