Repository kubernetes/ingress-nginx, pull requests merged in 2021-03, with the labels that each got.

#6856 Allow multiple publish status addresses
  TAG
  cmd/nginx/flags.go
  docs/user-guide/cli-arguments.md
  internal/ingress/status/status.go
  internal/ingress/status/status_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#6884 jaeger-endpoint feature for non-agent trace collectors
  docs/user-guide/nginx-configuration/configmap.md
  docs/user-guide/third-party-addons/opentracing.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  test/e2e/settings/opentracing.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#6908 feat(chart) Add volumes to default-backend deployment
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/values.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#6983 Expose Geo IP subdivision 1 as variables (OXF + Oxfordshire, vs. ENG + England at subdivision 0)
  rootfs/etc/nginx/template/nginx.tmpl
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#6957 Add ability to specify automountServiceAccountToken
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/controller-serviceaccount.yaml
  charts/ingress-nginx/templates/default-backend-serviceaccount.yaml
  charts/ingress-nginx/values.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#6936 update tracing libraries for opentracing 1.6.0
  images/nginx/rootfs/build.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#6956 update nginx base image, handle jaeger propagation format
  Makefile
  TAG
  docs/user-guide/nginx-configuration/configmap.md
  docs/user-guide/third-party-addons/opentracing.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/nginx.go
  test/e2e/settings/opentracing.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#6995 updating nginx base image across repo
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#7000 updating test-runner/echo in code, docs fixup
  build/run-in-docker.sh
  docs/e2e-tests.md
  docs/user-guide/nginx-configuration/configmap.md
  test/e2e-image/Dockerfile
  test/e2e/framework/deployment.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#6979 Changed servicePort value for metrics
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/S
