Repository kubernetes/ingress-nginx, pull requests merged in 2021-12, with the labels that each got.

#8001 fix: go-grpc Dockerfile
  images/go-grpc-greeter-server/rootfs/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#8003 Minor improvements (formatting, consistency) in install guide
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/L, kind/documentation, approved, ok-to-test, needs-triage, needs-priority

#8009 Fix spelling in documentation and top-level files
  CONTRIBUTING.md
  RELEASE.md
  docs/developer-guide/code-overview.md
  docs/developer-guide/getting-started.md
  docs/user-guide/monitoring.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
Labels: cncf-cla: yes, lgtm, area/docs, size/S, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#8008 Add relabelings in controller-servicemonitor.yaml
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, priority/important-soon, approved, ok-to-test, triage/accepted, area/helm

#8014 Add link to example error page manifest in docs
  docs/examples/customization/custom-errors/README.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#6338 fine-grained control over canary: add canary-weight-total to configure the total weight
  docs/user-guide/nginx-configuration/annotations.md
  internal/ingress/annotations/canary/main.go
  internal/ingress/controller/controller.go
  internal/ingress/types.go
  rootfs/etc/nginx/lua/balancer.lua
  rootfs/etc/nginx/lua/test/balancer_test.lua
  test/e2e/annotations/canary.go
Labels: cncf-cla: yes, lgtm, area/docs, size/M, kind/feature, priority/backlog, approved, triage/accepted, area/lua

#8015 Add newline indenting to admission webhook annotations
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, area/helm, needs-priority

#7999 images: use k8s-staging-test-infra/gcb-docker-gcloud
  cloudbuild.yaml
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/echo/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
  images/go-grpc-greeter-server/cloudbuild.yaml
  images/httpbin/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/cloudbuild.yaml
  images/test-runner/cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, priority/critical-urgent, approved, ok-to-test, triage/accepted

#8019 Revise main documentation page
  docs/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/L, priority/important-soon, kind/documentation, approved, ok-to-test, triage/accepted

#8023 fix nginx compilation flags
  images/nginx/rootfs/build.sh
Labels: cncf-cla: yes, lgtm, size/XS, kind/bug, priority/important-longterm, approved, ok-to-test, triage/accepted

#8035 Comment busy owners
  OWNERS
  OWNERS_ALIASES
  docs/OWNERS
Labels: kind/support, cncf-cla: yes, lgtm, area/docs, size/S, approved, tide/merge-method-squash, triage/accepted, needs-priority

#8044 remove G109 check till gosec resolves issues
  .github/workflows/ci.yaml
Labels: cncf-cla: yes, lgtm, size/XS, kind/bug, priority/backlog, approved, triage/accepted

#8042 docs_multiple_instances_one_cluster_ticket_7543
  docs/index.md
  docs/user-guide/multiple-ingress.md
Labels: cncf-cla: yes, lgtm, area/docs, size/S, priority/important-longterm, kind/documentation, approved, tide/merge-method-squash, ok-to-test, triage/accepted

#8021 Disable default modsecurity_rules_file if modsecurity-snippet is specified
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/modsecurity/modsecurity.go
Labels: cncf-cla: yes, lgtm, size/M, kind/bug, priority/important-longterm, approved, ok-to-test, triage/accepted

#8051 align bug report with feature request regarding kind documentation
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: cncf-cla: yes, lgtm, size/XS, priority/backlog, kind/documentation, approved, triage/accepted

#8029 Add stream-snippet as a ConfigMap and Annotation option
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/streamsnippet/main.go
  internal/ingress/annotations/streamsnippet/main_test.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/nginx.go
  internal/ingress/types.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/streamsnippet.go
  test/e2e/settings/stream_snippet.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, kind/feature, priority/important-longterm, approved, ok-to-test, triage/accepted

#8041 docs: fix typo'd executible name
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, triage/accepted, needs-priority

#8046 Report expired certificates (#8045)
  internal/ingress/controller/controller.go
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, priority/backlog, approved, ok-to-test, triage/accepted

#7958 Remove force sync for non-external backends
  rootfs/etc/nginx/lua/balancer.lua
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority, area/lua

#7728 fix custom-error-pages file not exist
  images/custom-error-pages/rootfs/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7624 Added docs for --ingress-class-by-name flag in the cli arguments page
  docs/user-guide/cli-arguments.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7996 doc: improvement
  docs/user-guide/nginx-configuration/annotations.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#8088 Fix Edit this page link to use main branch
  mkdocs.yml
Labels: cncf-cla: yes, lgtm, size/XS, kind/documentation, approved, ok-to-test, needs-triage, needs-priority

#8072 Expose GeoIP2 Continent code as variable
  rootfs/etc/nginx/template/nginx.tmpl
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7235 Fix chashsubset backend with canary
  rootfs/etc/nginx/lua/balancer/chashsubset.lua
  rootfs/etc/nginx/lua/test/balancer/chashsubset_test.lua
Labels: cncf-cla: yes, lgtm, size/S, approved, lifecycle/active, ok-to-test
