Repository kubernetes/ingress-nginx, pull requests merged in 2021-09, with the labels that each got.

#7399 feat: add session-cookie-secure annotation
  docs/examples/affinity/cookie/README.md
  docs/examples/affinity/cookie/ingress-samesite.yaml
  internal/ingress/annotations/sessionaffinity/main.go
  internal/ingress/annotations/sessionaffinity/main_test.go
  internal/ingress/controller/controller.go
  internal/ingress/types.go
  internal/ingress/types_equals.go
  rootfs/etc/nginx/lua/balancer/sticky.lua
  rootfs/etc/nginx/lua/test/balancer/sticky_test.lua
Labels: cncf-cla: yes, lgtm, area/docs, size/M, kind/feature, priority/backlog, approved, ok-to-test, triage/accepted, area/lua

#7511 add same tcp and udp ports to internal load balancer
  charts/ingress-nginx/templates/controller-service-internal.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, needs-triage, area/helm, needs-priority

#7581 Default KinD manifest to watch ingresses without class
  deploy/static/provider/kind/deploy.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7561 Add doc ref for preserve-trailing-slash annotation
  docs/user-guide/nginx-configuration/annotations.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7583 update alpine and remove buildx restriction
  hack/init-buildx.sh
  images/nginx/rootfs/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7584 Changing gcb builder
  cloudbuild.yaml
  images/nginx/cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7592 Change builder in a new attempt to make it run
  hack/init-buildx.sh
  images/nginx/README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, needs-triage, needs-priority

#7594 Remove addgroup directive from alpine building
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/build.sh
Labels: cncf-cla: yes, size/XS, approved, needs-kind, needs-triage, needs-priority

#7540 fixes incorrect docs on ingressClass enabled by default
  docs/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, needs-triage, needs-priority

#7597 Update to the base nginx image
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  test/e2e/framework/deployment.go
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, tide/merge-method-squash, ok-to-test, needs-triage, needs-priority

#7598 fix 7591
  docs/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, needs-triage, needs-priority

#7440 remove timestamp when requeuing Element
  internal/task/queue.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7604 Update cloudbuild timeout
  images/test-runner/cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7596 Update e2e test runner image
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, tide/merge-method-squash, ok-to-test, needs-triage, needs-priority

#7601 fix charts README.md to give additional detail on prometheus metrics …
  charts/ingress-nginx/README.md
Labels: cncf-cla: yes, lgtm, size/XS, priority/important-soon, kind/documentation, approved, ok-to-test, triage/accepted, area/helm

#7606 Fix cli flag typo "watch-without-ingress-class" in documentation's faq
  docs/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7202 Additional AuthTLS assertions and doc change to demonstrate auth-tls-secret enables the other AuthTLS annotations
  docs/user-guide/nginx-configuration/annotations.md
  internal/ingress/annotations/authtls/main_test.go
  test/e2e/annotations/authtls.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, approved, ok-to-test

#7560 put modsecurity e2e tests into their own packages
  test/e2e/annotations/modsecurity/modsecurity.go
  test/e2e/e2e.go
  test/e2e/settings/modsecurity/modsecurity_snippet.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7464 Sync Hostname and IP address from service to ingress status
  internal/ingress/status/status.go
  internal/ingress/status/status_test.go
Labels: cncf-cla: yes, lgtm, size/L, kind/bug, approved, ok-to-test, needs-triage, needs-priority

#7374 Trigger syncIngress on Service addition/deletion #7346
  internal/ingress/controller/store/store.go
  test/e2e/servicebackend/service_externalname.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#7514 nginx flag: --disable-full-test flag to allow testing configfile of the current single ingress
  cmd/nginx/flags.go
  docs/user-guide/cli-arguments.md
  internal/ingress/controller/controller.go
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7393 getEndpoints uses service target port directly if it's a number and mismatch with port name in endpoint
  internal/ingress/controller/endpoints.go
  internal/ingress/controller/endpoints_test.go
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved, ok-to-test, needs-triage, needs-priority

#7469 Allow the usage of Services as Upstream on a global level
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/annotations/serviceupstream/main.go
  internal/ingress/annotations/serviceupstream/main_test.go
  internal/ingress/controller/config/config.go
  internal/ingress/defaults/main.go
  test/e2e/annotations/serviceupstream.go
  test/e2e/framework/k8s.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7611 Helm notes outputs non nil value for ingress.class annotation
  charts/ingress-nginx/templates/NOTES.txt
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, priority/important-soon, approved, kind/cleanup, triage/accepted, area/helm

#7577 Added command to get Nginx version
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, priority/important-soon, kind/documentation, approved, ok-to-test, triage/accepted, area/helm

#7460 Fix old tag of custom error pages used in example
  docs/examples/customization/custom-errors/custom-default-backend.yaml
  images/custom-error-pages/Makefile
  images/custom-error-pages/cloudbuild.yml
  images/custom-error-pages/rootfs/Dockerfile
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/custom-error-pages/rootfs/main.go
  images/custom-error-pages/rootfs/metrics.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, priority/important-soon, approved, needs-kind, ok-to-test, needs-triage

#7609 Add new flag to watch ingressclass by name
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
  cmd/nginx/flags.go
  internal/ingress/controller/ingressclass/ingressclass.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/store/store_test.go
  test/e2e/settings/ingress_class.go
Labels: cncf-cla: yes, lgtm, size/L, kind/bug, priority/important-soon, approved, needs-triage, area/helm

#7625 Only build nginx-errors for linux/amd64
  docs/examples/customization/custom-errors/custom-default-backend.yaml
  images/custom-error-pages/Makefile
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7619 Add e2e tests for secure cookie annotations
  test/e2e/annotations/affinity.go
Labels: cncf-cla: yes, lgtm, size/M, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7639 Downgrade to NGINX v1.19
  images/nginx/rootfs/build.sh
  images/nginx/rootfs/patches/nginx-1.19.3-no_Werror.patch
  images/nginx/rootfs/patches/nginx-1.19.9-balancer_status_code.patch
  images/nginx/rootfs/patches/nginx-1.19.9-cache_manager_exit.patch
  images/nginx/rootfs/patches/nginx-1.19.9-delayed_posted_events.patch
  images/nginx/rootfs/patches/nginx-1.19.9-hash_overflow.patch
  images/nginx/rootfs/patches/nginx-1.19.9-init_cycle_pool_release.patch
  images/nginx/rootfs/patches/nginx-1.19.9-larger_max_error_str.patch
  images/nginx/rootfs/patches/nginx-1.19.9-no_Werror.patch
  images/nginx/rootfs/patches/nginx-1.19.9-proxy_host_port_vars.patch
  images/nginx/rootfs/patches/nginx-1.19.9-resolver_conf_parsing.patch
  images/nginx/rootfs/patches/nginx-1.19.9-reuseport_close_unused_fds.patch
  images/nginx/rootfs/patches/nginx-1.19.9-single_process_graceful_exit.patch
  images/nginx/rootfs/patches/nginx-1.19.9-socket_cloexec.patch
  images/nginx/rootfs/patches/nginx-1.19.9-ssl_cert_cb_yield.patch
  images/nginx/rootfs/patches/nginx-1.19.9-ssl_sess_cb_yield.patch
  images/nginx/rootfs/patches/nginx-1.19.9-stream_proxy_get_next_upstream_tries.patch
  images/nginx/rootfs/patches/nginx-1.19.9-stream_ssl_preread_no_skip.patch
  images/nginx/rootfs/patches/nginx-1.19.9-upstream_pipelining.patch
  images/nginx/rootfs/patches/nginx-1.19.9-upstream_timeout_fields.patch
  images/nginx/rootfs/patches/patch.2021.resolver.txt
Labels: cncf-cla: yes, lgtm, size/L, approved, needs-kind, needs-triage, needs-priority

#7640 fix typos.
  docs/user-guide/nginx-configuration/annotations.md
  rootfs/etc/nginx/lua/plugins/README.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority, area/lua

#7642 Add security contacts
  SECURITY_CONTACTS
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7643 Update NGINX base image to v1.19
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, needs-triage, needs-priority

#7648 Update e2e-test-runner image
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7636 Add github action for building images
  .github/workflows/ci.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7630 images/kube-webhook-certgen/rootfs: improvements
  images/kube-webhook-certgen/rootfs/README.md
  images/kube-webhook-certgen/rootfs/cmd/create.go
  images/kube-webhook-certgen/rootfs/cmd/patch.go
  images/kube-webhook-certgen/rootfs/cmd/root.go
  images/kube-webhook-certgen/rootfs/pkg/certs/certs.go
  images/kube-webhook-certgen/rootfs/pkg/certs/certs_test.go
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s.go
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, needs-kind, tide/merge-method-squash, ok-to-test, needs-triage, needs-priority

#7603 additional info for the custom-headers documentation page
  docs/examples/customization/custom-headers/README.md
  docs/examples/customization/custom-headers/configmap-client-response.yaml
Labels: cncf-cla: yes, lgtm, area/docs, size/S, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#7656 Changelog.md: Update references to sigs.k8s.io/promo-tools
  Changelog.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7659 Replace kube-lego docs with cert-manager
  docs/user-guide/tls.md
Labels: cncf-cla: yes, lgtm, area/docs, size/M, needs-ok-to-test, kind/documentation, approved, needs-triage, needs-priority

#7665 Add option to force enabling snippet directives
  charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
  charts/ingress-nginx/ci/deployment-customconfig-values.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  test/e2e/annotations/modsecurity/modsecurity.go
  test/e2e/annotations/serversnippet.go
  test/e2e/annotations/snippet.go
  test/e2e/settings/server_snippet.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, kind/feature, approved, triage/accepted, area/helm, needs-priority

#7666 CHERRY-PICK of #7665 - Remove snippet
  charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
  charts/ingress-nginx/ci/deployment-customconfig-values.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  test/e2e/annotations/modsecurity.go
  test/e2e/annotations/serversnippet.go
  test/e2e/annotations/snippet.go
  test/e2e/settings/server_snippet.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, approved, needs-kind, tide/merge-method-squash, needs-triage, area/helm, needs-priority

#7668 added example multiple controller install to faq
  docs/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/S, approved, needs-kind, needs-triage, needs-priority

#7672 add option for documentiony only to pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, priority/important-longterm, kind/documentation, approved, triage/accepted

#7671 Cherry pick - #7643
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7670 Change enable-snippet to allow-snippet-annotation
  charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
  charts/ingress-nginx/ci/deployment-customconfig-values.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  test/e2e/annotations/modsecurity/modsecurity.go
  test/e2e/annotations/serversnippet.go
  test/e2e/annotations/snippet.go
  test/e2e/settings/server_snippet.go
Labels: cncf-cla: yes, lgtm, area/docs, size/M, approved, needs-kind, needs-triage, area/helm, needs-priority

#7676 Fix opentracing in v0.X
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7677 CHERRY-PICK Change enable-snippet to allow-snippet-annotation (#7670)
  charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
  charts/ingress-nginx/ci/deployment-customconfig-values.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  test/e2e/annotations/modsecurity.go
  test/e2e/annotations/serversnippet.go
  test/e2e/annotations/snippet.go
  test/e2e/settings/server_snippet.go
Labels: cncf-cla: yes, lgtm, area/docs, size/M, approved, needs-kind, needs-triage, area/helm, needs-priority

#7680 Trigger v0.49.1 release
  TAG
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7679 Trigger v1.0.1 release
  TAG
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7682 Release v0.49.1
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
Labels: cncf-cla: yes, lgtm, size/XL, approved, needs-kind, needs-triage, area/helm, needs-priority

#7681 preparing release v1.0.1
  Changelog.md
  README.md
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  stable.txt
Labels: cncf-cla: yes, lgtm, area/docs, size/XL, approved, needs-kind, needs-triage, area/helm, needs-priority

#7690 Correct an error
  docs/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#7692 Follow ups from release v1.0.1
  Changelog.md
  README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, needs-triage, needs-priority

#7702 fix: upgrade lua-resty-balancer to v0.04
  images/nginx/rootfs/build.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7703 Fix resty balancer checksum and location
  images/nginx/rootfs/build.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7641 images/kube-webhook-certgen/rootfs: add support for patching APIService objects
  images/kube-webhook-certgen/rootfs/.gitignore
  images/kube-webhook-certgen/rootfs/cmd/create.go
  images/kube-webhook-certgen/rootfs/cmd/patch.go
  images/kube-webhook-certgen/rootfs/cmd/patch_test.go
  images/kube-webhook-certgen/rootfs/cmd/root.go
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s.go
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7663 Tweak documentation formating about deprecated `apiVersion` values.
  docs/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#7696 Add canary backend name for requests metrics
  internal/ingress/metric/collectors/socket.go
  internal/ingress/metric/collectors/socket_test.go
  rootfs/etc/nginx/lua/monitor.lua
  rootfs/etc/nginx/lua/test/monitor_test.lua
Labels: cncf-cla: yes, lgtm, size/L, approved, needs-kind, ok-to-test, needs-triage, needs-priority, area/lua

#7660 Add a metric with build info
  internal/ingress/metric/collectors/controller.go
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#7705 Update base nginx image to the corrected version
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, needs-triage, needs-priority

#7707 Tag release v1.0.2
  TAG
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7706 Update base nginx image and tag new release
  Makefile
  TAG
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, needs-triage, needs-priority

#7708 Release v0.49.2
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
Labels: cncf-cla: yes, lgtm, size/XL, approved, needs-kind, needs-triage, area/helm, needs-priority

#7709 Release v1.0.2
  Changelog.md
  README.md
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  stable.txt
Labels: cncf-cla: yes, lgtm, area/docs, size/XL, approved, needs-kind, tide/merge-method-squash, needs-triage, area/helm, needs-priority

#6873 Allow dependabot to check go modules
  .github/dependabot.yml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#7704 Updates E2E test images registry
  docs/examples/chashsubset/deployment.yaml
  docs/examples/http-svc.yaml
  docs/examples/multi-tls/multi-tls.yaml
  test/e2e/annotations/canary.go
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, needs-triage, needs-priority

#7718 added example to install multiple instances of controller
  docs/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/S, approved, needs-kind, needs-triage, needs-priority

#7726 Fix ingress without class in kind deployment
  deploy/static/provider/kind/deploy.yaml
  hack/generate-deploy-scripts.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#7727 Fix selector for shutting down Pods
  internal/ingress/status/status.go
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, needs-triage, needs-priority

#7658 add issue triage information
  CONTRIBUTING.md
  ISSUE_TRIAGE.md
  README.md
Labels: cncf-cla: yes, lgtm, area/docs, size/M, priority/important-soon, kind/documentation, approved, triage/accepted

#7731 Fix selector for shutting down Pods (#7727)
  internal/ingress/status/status.go
Labels: cncf-cla: yes, lgtm, size/S, kind/bug, approved, needs-triage, needs-priority
