Repository kubernetes/ingress-nginx, pull requests merged in 2022-06, with the labels that each got.

#8616 Update index.md
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#8681 removed unavailable flag
  .github/workflows/ci.yaml
  test/e2e/kind.yaml
Labels: cncf-cla: yes, lgtm, size/XS, kind/bug, priority/important-soon, approved, ok-to-test, triage/accepted

#8684 moved whathappend to top of issue-template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#8637 feat: support enable nginx debug_connection
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/template/configmap.go
  internal/ingress/controller/template/configmap_test.go
  rootfs/etc/nginx/template/nginx.tmpl
Labels: cncf-cla: yes, lgtm, area/docs, size/M, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#8335 Updated dependabot to get updates for github actions
  .github/dependabot.yml
Labels: cncf-cla: yes, lgtm, size/XS, kind/bug, priority/backlog, approved, lifecycle/stale, ok-to-test, triage/accepted

#8699 fix the gosec test and a make target for it
  Makefile
  cmd/nginx/main.go
  internal/ingress/controller/nginx.go
Labels: cncf-cla: yes, size/S, kind/bug, priority/critical-urgent, approved, ok-to-test, triage/accepted

#8701 Fix several typos
  README.md
  docs/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/S, priority/backlog, needs-ok-to-test, kind/documentation, approved, triage/accepted

#8545 support extraEnvs for job resources in helm chart
  charts/ingress-nginx/README.md
  charts/ingress-nginx/ci/deployment-webhook-extraEnvs-values.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, needs-ok-to-test, approved, needs-kind, needs-triage, area/helm, needs-priority

#8726 prometheus metric: upstream_latency_seconds
  internal/ingress/metric/collectors/socket.go
  rootfs/etc/nginx/lua/monitor.lua
  rootfs/etc/nginx/lua/test/monitor_test.lua
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, priority/backlog, approved, ok-to-test, triage/accepted, area/lua

#8720 Ci pin deps
  .github/workflows/ci.yaml
  .github/workflows/depreview.yaml
  .github/workflows/docs.yaml
  .github/workflows/helm.yaml
  .github/workflows/perftest.yaml
  .github/workflows/release.txt
Labels: cncf-cla: yes, lgtm, size/L, kind/feature, priority/important-longterm, approved, ok-to-test, triage/accepted

#8736 set ld-musl-path
  rootfs/Dockerfile
  rootfs/Dockerfile.chroot
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, needs-triage, needs-priority

#8737 updated baseimage sha
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, approved, ok-to-test, triage/accepted, needs-priority, area/stabilization

#8740 change sha e2etestrunner and echoserver
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
  test/e2e/framework/deployment.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#8767 change v1.2.0 to v1.2.1 in deploy doc URLs
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/S, approved, needs-kind, needs-triage, needs-priority
