Repository kubernetes/ingress-nginx, pull requests merged in 2023-03, with the labels that each got.

#9688 fix some comments
  docs/developer-guide/code-overview.md
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s.go
  internal/ingress/controller/endpointslices.go
  internal/ingress/controller/template/template.go
  magefiles/helm.go
  pkg/util/ingress/ingress.go
  test/e2e/settings/ssl_passthrough.go
Labels: cncf-cla: yes, lgtm, area/docs, size/S, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#9656 Indent values.yaml using 2 instead of 4 spaces
  magefiles/helm.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, tide/merge-method-squash, ok-to-test, needs-triage, area/helm, needs-priority

#9690 update to golang 1.20
  .github/workflows/ci.yaml
  .github/workflows/plugin.yaml
  .github/workflows/stale.yaml
  go.mod
  go.sum
  images/cfssl/rootfs/Dockerfile
  images/custom-error-pages/rootfs/Dockerfile
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/Dockerfile
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.sum
  images/fastcgi-helloserver/rootfs/Dockerfile
  images/go-grpc-greeter-server/rootfs/Dockerfile
  images/httpbin/rootfs/Dockerfile
  images/kube-webhook-certgen/rootfs/Dockerfile
  images/kube-webhook-certgen/rootfs/go.mod
  images/nginx/rootfs/Dockerfile
  images/opentelemetry/rootfs/Dockerfile
  images/test-runner/Makefile
  magefiles/go.mod
  rootfs/Dockerfile-chroot
  test/e2e-image/Dockerfile
  test/e2e/annotations/auth.go
  test/e2e/settings/no_auth_locations.go
Labels: cncf-cla: yes, lgtm, size/M, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9731 HPA: bump apiVersion to v2 for defaultBackend
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/default-backend-hpa.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, kind/bug, priority/important-soon, approved, ok-to-test, triage/accepted, area/helm, area/stabilization

#9722 bumped ginkgo to v2.9.0
  build/run-in-docker.sh
  images/test-runner/rootfs/Dockerfile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, triage/accepted, needs-priority, area/stabilization

#9732 Deployment/DaemonSet: Label pods using `ingress-nginx.labels`.
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, area/helm, needs-priority

#9743 changed test-runner-image tag and sha
  build/run-in-docker.sh
  test/e2e-image/Makefile
Labels: cncf-cla: yes, lgtm, size/XS, priority/important-soon, needs-kind, triage/accepted, area/stabilization

#9747 updated NGINX_BASE image with latest tag
  NGINX_BASE
Labels: cncf-cla: yes, lgtm, size/XS, priority/important-soon, approved, needs-kind, ok-to-test, triage/accepted

#9754 Rebuild echo server
  images/echo/Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, triage/accepted, needs-priority, area/stabilization

#9753 added upgrade ginkgo documentation for contributors
  ginkgo_upgrade.md
Labels: cncf-cla: yes, lgtm, size/L, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#9755 updated nginx-error digest and tags
  docs/examples/customization/custom-errors/custom-default-backend.helm.values.yaml
  docs/examples/customization/custom-errors/custom-default-backend.yaml
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#9756 updated kube-webhook-certgen digest and tags
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, needs-kind, ok-to-test, needs-triage, area/helm, needs-priority

#9757 updated digest and sha for e2e-test-cfssl
  test/e2e/settings/ocsp/ocsp.go
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#9758 updated digest and sha for opentelemetry
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, area/helm, needs-priority

#9759 updated digest and sha for e2e-test-fastcgi-helloserver
  test/e2e/framework/fastcgi_helloserver.go
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#9760 updated digest and sha for e2e-test-echo
  docs/examples/customization/external-auth-headers/echo-service.yaml
  test/e2e/framework/deployment.go
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#9640 docs(helm): fix value key in readme for enabling certManager
  charts/ingress-nginx/README.md
  charts/ingress-nginx/README.md.gotmpl
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, area/helm, needs-priority

#9740 fix: controller psp's volume config
  charts/ingress-nginx/templates/controller-psp.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, area/helm, needs-priority

#9729 Fix canary-weight-total annotation ignored in rule backends
  internal/ingress/controller/controller.go
  test/e2e/annotations/canary.go
Labels: cncf-cla: yes, lgtm, size/M, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#9772 drop k8s 1.23 support
  .github/workflows/ci.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#9062 feat: OpenTelemetry module integration
  docs/images/otel-grafana-demo.png
  docs/images/otel-jaeger-demo.png
  docs/images/otel-zipkin-demo.png
  docs/kubectl-plugin.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  docs/user-guide/third-party-addons/opentelemetry.md
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/opentelemetry/main.go
  internal/ingress/annotations/opentelemetry/main_test.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  mkdocs.yml
  pkg/apis/ingress/types.go
  pkg/apis/ingress/types_equals.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/framework/exec.go
  test/e2e/run-e2e-suite.sh
  test/e2e/settings/opentelemetry.go
  test/e2e/wait-for-nginx.sh
Labels: cncf-cla: yes, lgtm, area/docs, size/XXL, kind/feature, approved, tide/merge-method-squash, ok-to-test, triage/accepted, needs-priority

#9775 kick off 1.7.0 build
  TAG
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#9784 release 1.7.0 chart 4.6.0
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, area/helm, needs-priority

#9788 Updates the Documentation
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/S, approved, needs-kind, ok-to-test, needs-triage, needs-priority
