Repository kubernetes/ingress-nginx, pull requests merged in 2023-05, with the labels that each got.

#9902 ensure make lua-test runs locally
  Makefile
  test/test-lua.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9903 Fix typo in OpenTelemetry
  docs/user-guide/third-party-addons/opentelemetry.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#9703 allow exec into ingress-nginx-controll pod, when any type of sidecar is injected into the controller pod
  cmd/plugin/commands/backends/backends.go
  cmd/plugin/commands/certs/certs.go
  cmd/plugin/commands/conf/conf.go
  cmd/plugin/commands/exec/exec.go
  cmd/plugin/commands/general/general.go
  cmd/plugin/commands/logs/logs.go
  cmd/plugin/commands/ssh/ssh.go
  cmd/plugin/kubectl/kubectl.go
  cmd/plugin/util/util.go
  docs/kubectl-plugin.md
Labels: cncf-cla: yes, lgtm, area/docs, size/M, kind/feature, approved, lifecycle/active, ok-to-test, needs-triage, needs-priority

#9846 [helm] Support custom port configuration for internal service
  charts/ingress-nginx/README.md
  charts/ingress-nginx/ci/deployment-internal-lb-values.yaml
  charts/ingress-nginx/templates/controller-service-internal.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, ok-to-test, needs-triage, area/helm, needs-priority

#9600 Update dependabot to watch docker images
  .github/dependabot.yml
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9920 Keep project name display aligned
  deploy/grafana/dashboards/README.md
  docs/deploy/baremetal.md
  docs/deploy/hardening-guide.md
  docs/deploy/index.md
  docs/developer-guide/code-overview.md
  docs/developer-guide/getting-started.md
  docs/examples/affinity/cookie/README.md
  docs/examples/customization/custom-errors/README.md
  docs/examples/customization/custom-headers/README.md
  docs/examples/customization/ssl-dh-param/README.md
  docs/examples/tls-termination/README.md
  docs/how-it-works.md
  docs/user-guide/cli-arguments.md
  docs/user-guide/external-articles.md
  docs/user-guide/miscellaneous.md
  docs/user-guide/monitoring.md
  docs/user-guide/multiple-ingress.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/third-party-addons/opentelemetry.md
  docs/user-guide/third-party-addons/opentracing.md
  images/README.md
  images/custom-error-pages/README.md
  mkdocs.yml
Labels: cncf-cla: yes, lgtm, area/docs, size/L, kind/documentation, approved, ok-to-test, needs-triage, area/helm, needs-priority

#9930 fix controller tag in release
  changelog/Changelog-1.7.1.md
  magefiles/helm.go
  magefiles/release.go
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, needs-triage, needs-priority

#9931 Update charts/* to keep project name display aligned
  charts/ingress-nginx/README.md
  charts/ingress-nginx/README.md.gotmpl
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, area/docs, size/S, kind/documentation, approved, ok-to-test, triage/accepted, area/helm, needs-priority

#9933 Update annotations.md
  docs/user-guide/nginx-configuration/annotations.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9527 Add geoname id value into $geoip2_*_geoname_id variables
  rootfs/etc/nginx/template/nginx.tmpl
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9942 image_update in custom-default-backend yaml file
  docs/examples/customization/custom-errors/custom-default-backend.yaml
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9919 chore: update httpbin to httpbun
  test/data/config.json
  test/e2e/annotations/auth.go
  test/e2e/annotations/grpc.go
  test/e2e/annotations/satisfy.go
  test/e2e/framework/deployment.go
  test/e2e/security/request_smuggling.go
  test/e2e/servicebackend/service_externalname.go
  test/e2e/settings/brotli.go
  test/e2e/settings/disable_service_external_name.go
  test/e2e/settings/global_external_auth.go
  test/e2e/settings/listen_nondefault_ports.go
  test/k6/smoketest.js
Labels: cncf-cla: yes, lgtm, size/L, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9843 add option for annotations in PodDisruptionBudget
  charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, area/helm, needs-priority

#9946 Use dl.k8s.io instead of kubernetes-release bucket
  .github/workflows/ci.yaml
  images/test-runner/rootfs/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9521 HPA: Use capabilites & align manifests.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-hpa.yaml
  charts/ingress-nginx/templates/default-backend-hpa.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/M, needs-ok-to-test, approved, needs-kind, needs-triage, area/helm, needs-priority

#9951 Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, needs-triage, needs-priority

#9952 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cncf-cla: yes, lgtm, size/M, approved, needs-kind, needs-triage, needs-priority

#9967 Validate path types
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/inspector/inspector.go
  internal/ingress/inspector/inspector_test.go
  internal/ingress/inspector/rules.go
  test/e2e/admission/admission.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, approved, needs-kind, needs-triage, needs-priority

#9962 Fix: avoid builds and tests for changes to markdown
  .github/workflows/ci.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, triage/accepted, needs-priority

#9976 Correct annotations in monitoring docs
  docs/user-guide/monitoring.md
Labels: cncf-cla: yes, lgtm, area/docs, size/M, kind/documentation, approved, ok-to-test, triage/accepted, needs-priority

#9978 OpenTelemetry default config
  internal/ingress/controller/config/config.go
Labels: cncf-cla: yes, lgtm, size/S, kind/bug, priority/important-soon, approved, ok-to-test, triage/accepted

#9792 helm: Fix opentelemetry module installation for daemonset
  .github/workflows/ci.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
Labels: cncf-cla: yes, lgtm, size/S, kind/bug, needs-ok-to-test, approved, needs-triage, area/helm, needs-priority

#9985 bump pinned ginkgo to v2.9.5
  build/run-in-docker.sh
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Labels: cncf-cla: yes, lgtm, size/S, kind/bug, priority/important-soon, approved, triage/accepted

#9992 Add OPA examples on pathType restrictions
  docs/examples/openpolicyagent/README.md
  docs/examples/openpolicyagent/rule.yaml
  docs/examples/openpolicyagent/template.yaml
  docs/examples/openpolicyagent/tests/should-allow-ns-except.yaml
  docs/examples/openpolicyagent/tests/should-allow.yaml
  docs/examples/openpolicyagent/tests/should-deny.yaml
  mkdocs.yml
Labels: cncf-cla: yes, lgtm, area/docs, size/L, approved, needs-kind, needs-triage, needs-priority

#9904 [helm] PodDisruptionBudget spec logic update for controller.maxUnavailable
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, area/helm, needs-priority

#9996 openssl CVE fix
  NGINX_BASE
Labels: cncf-cla: yes, lgtm, size/XS, kind/bug, approved, triage/accepted, needs-priority

#9997 images: upgrade to Alpine 3.18
  docs/examples/customization/sysctl/patch.json
  images/cfssl/rootfs/Dockerfile
  images/nginx/rootfs/Dockerfile
  images/opentelemetry/rootfs/Dockerfile
  rootfs/Dockerfile-chroot
  test/e2e-image/Dockerfile
Labels: cncf-cla: yes, lgtm, area/docs, size/S, approved, needs-kind, needs-triage, needs-priority

#10000 change to alpine318 baseimage
  NGINX_BASE
Labels: cncf-cla: yes, lgtm, size/XS, kind/bug, priority/important-soon, approved, ok-to-test, triage/accepted

#10001 changed tagsha to recent builds
  build/run-in-docker.sh
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
  docs/examples/customization/custom-errors/custom-default-backend.helm.values.yaml
  docs/examples/customization/custom-errors/custom-default-backend.yaml
  docs/examples/customization/external-auth-headers/echo-service.yaml
  docs/user-guide/third-party-addons/opentelemetry.md
  test/e2e-image/Makefile
  test/e2e/framework/deployment.go
  test/e2e/settings/ocsp/ocsp.go
Labels: cncf-cla: yes, lgtm, area/docs, size/S, kind/bug, priority/important-soon, approved, ok-to-test, triage/accepted, area/helm

#10003 add faq section in docs
  docs/faq.md
  docs/index.md
  docs/user-guide/retaining-client-ipaddress.md
  mkdocs.yml
Labels: cncf-cla: yes, area/docs, size/M, kind/documentation, approved, triage/accepted, needs-priority

#10010 chore: start v1.8.0 release process
  TAG
Labels: cncf-cla: yes, lgtm, size/XS, do-not-merge/hold, approved, needs-kind, needs-triage, needs-priority

#10011 Add legacy to OpenTelemetry migration doc
  docs/user-guide/third-party-addons/opentelemetry.md
Labels: cncf-cla: yes, lgtm, area/docs, size/M, priority/important-soon, kind/documentation, approved, ok-to-test, triage/accepted

#10017 controller 1.8.0 and chart 4.7.0 release
  README.md
  changelog/Changelog-1.8.0.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/Changelog-4.7.0.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  docs/e2e-tests.md
  magefiles/release.go
Labels: cncf-cla: yes, lgtm, area/docs, size/XXL, approved, needs-kind, needs-triage, area/helm, needs-priority

#10019 added helmshowvalues example in docs
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, kind/documentation, approved, triage/accepted, needs-priority
