Repository kubernetes/ingress-nginx, pull requests merged in 2023-01, with the labels that each got.

#9294 Optional podman support for running tests locally
  .gitignore
  build/run-in-docker.sh
Labels: cncf-cla: yes, lgtm, size/M, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9489 bump OpenTelemetry module
  images/opentelemetry/rootfs/CMakeLists.txt
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/build.sh
Labels: cncf-cla: yes, lgtm, size/S, priority/backlog, approved, needs-kind, ok-to-test, triage/accepted

#9491 update OpenTelemetry image
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, priority/backlog, approved, needs-kind, ok-to-test, triage/accepted, area/helm

#9439 add github actions stale bot
  .github/workflows/stale.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, needs-triage, needs-priority

#9269 Update monitoring.md
  docs/user-guide/monitoring.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#8506 Add update updateStrategy and minReadySeconds for defaultBackend
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, needs-ok-to-test, approved, lifecycle/rotten, needs-kind, needs-triage, area/helm, needs-priority

#8795 Adding ipdenylist annotation
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/ipdenylist/main.go
  internal/ingress/annotations/ipdenylist/main_test.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/template/configmap.go
  internal/ingress/controller/template/configmap_test.go
  internal/ingress/defaults/main.go
  pkg/apis/ingress/types.go
  pkg/apis/ingress/types_equals.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/data/config.json
  test/e2e/annotations/ipdenylist.go
Labels: cncf-cla: yes, lgtm, area/docs, size/XXL, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9049 fix: disable auth access logs
  rootfs/etc/nginx/template/nginx.tmpl
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9184 Add buildResolvers to the stream module
  rootfs/etc/nginx/template/nginx.tmpl
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#8528 added option to disable sync event creation
  docs/user-guide/cli-arguments.md
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/store/store_test.go
  pkg/flags/flags.go
  test/e2e/settings/disable_sync_events.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9122 Remove nonexistent load flag from docker build commands
  Makefile
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#9498 Remove 1.5.2 from readme
  README.md
Labels: cncf-cla: yes, size/XS, approved, needs-kind, needs-triage, needs-priority

#9165 feat: support topology aware hints
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/_params.tpl
  charts/ingress-nginx/values.yaml
  docs/user-guide/cli-arguments.md
  internal/ingress/controller/controller.go
  internal/ingress/controller/endpointslices.go
  internal/ingress/controller/endpointslices_test.go
  internal/k8s/main.go
  pkg/flags/flags.go
  test/e2e-image/e2e.sh
  test/e2e-image/namespace-overlays/topology/values.yaml
  test/e2e/endpointslices/topology.go
  test/e2e/framework/deployment.go
  test/e2e/kind.yaml
Labels: cncf-cla: yes, lgtm, area/docs, size/XL, approved, needs-kind, tide/merge-method-squash, ok-to-test, needs-triage, area/helm, needs-priority

#9500 Change default value of enable-brotli
  docs/user-guide/nginx-configuration/configmap.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9384 Sanitise request metrics in monitoring docs
  docs/user-guide/monitoring.md
Labels: cncf-cla: yes, lgtm, area/docs, size/M, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#8230 Add new prometheus metric for orphaned ingress
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  internal/ingress/metric/collectors/controller.go
  internal/ingress/metric/dummy.go
  internal/ingress/metric/main.go
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, priority/important-longterm, approved, ok-to-test, triage/accepted

#9514 Add docs about orphan_ingress metric
  docs/user-guide/monitoring.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#9505 feat(configmap): expose gzip-disable
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/template/configmap_test.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/settings/gzip.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9511 Implement pathType validation
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/store/store.go
  internal/k8s/main.go
  pkg/util/ingress/ingress.go
  pkg/util/ingress/ingress_test.go
  test/e2e/admission/admission.go
  test/e2e/annotations/affinity.go
  test/e2e/annotations/rewrite.go
  test/e2e/security/invalid_paths.go
Labels: cncf-cla: yes, area/docs, size/XL, approved, needs-kind, needs-triage, area/helm, needs-priority

#9488 Bump `client-go` to remove dependence on go-autorest dependency
  go.mod
  go.sum
  internal/ingress/status/status.go
  internal/ingress/status/status_test.go
  test/e2e/status/update.go
Labels: cncf-cla: yes, lgtm, size/L, priority/important-longterm, approved, kind/cleanup, needs-triage

#9518 Align default value for keepalive_request with NGINX default
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9507 start 1.6.0 release
  TAG
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, priority/backlog, do-not-merge/hold, approved, ok-to-test, triage/accepted

#9523 fix(grafana-dashboard): remove hardcoded namespace references
  deploy/grafana/dashboards/nginx.json
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#8814 Add CORS template check inside location for externalAuth.SignURL
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/auth.go
Labels: cncf-cla: yes, lgtm, size/M, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#9291 Automate release notes with mage
  Changelog.md.gotmpl
  MANUAL_RELEASE.md
  NEW_RELEASE_PROCESS.md
  TAG
  changelog/Changelog-1.5.2.md
  charts/ingress-nginx/changelog/.gitkeep
  charts/ingress-nginx/changelog/Changelog-1.5.2.md
  go.mod
  go.sum
  ingress-nginx.yaml
  magefiles/common.go
  magefiles/docker.go
  magefiles/go.go
  magefiles/go.mod
  magefiles/go.sum
  magefiles/helm.go
  magefiles/mage.go
  magefiles/release.go
  magefiles/tags.go
  magefiles/yaml.go
Labels: cncf-cla: yes, area/docs, size/XXL, kind/feature, priority/backlog, approved, triage/accepted, area/helm

#9544 Move and spell-check Kubernetes 1.22 migration FAQ
  docs/index.md
  docs/user-guide/k8s-122-migration.md
Labels: cncf-cla: yes, lgtm, area/docs, size/L, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#9548 tcpproxy: increase buffer size to 16K
  pkg/tcpproxy/tcp.go
Labels: cncf-cla: yes, lgtm, size/XS, kind/bug, priority/backlog, approved, ok-to-test, triage/accepted
