Repository kubernetes/ingress-nginx, pull requests merged in 2024-05, with the labels that each got.

#11344 chore(deps): group update k8s.io packages to v0.30.0
  go.mod
  go.sum
  go.work
  go.work.sum
Labels: cncf-cla: yes, lgtm, size/XXL, approved, needs-kind, needs-triage, needs-priority

#11346 Bump Kubernetes version on images
  build/dev-env.sh
  images/test-runner/Makefile
  images/test-runner/TAG
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, needs-triage, needs-priority

#10884 Allow configuring nginx worker reload behaviour, to prevent multiple concurrent worker reloads which can lead to high resource usage and OOMKill
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/template/configmap.go
Labels: cncf-cla: yes, lgtm, area/docs, size/M, priority/important-soon, approved, needs-kind, ok-to-test, triage/accepted, area/helm

#11361 Remove opentracing and zipkin components mentions from docs
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  docs/user-guide/third-party-addons/opentracing.md
Labels: cncf-cla: yes, lgtm, area/docs, size/L, kind/documentation, approved, ok-to-test, triage/accepted, needs-priority

#11362 Add support for custom annotations in the IngressClass template
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-ingressclass.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, ok-to-test, needs-triage, area/helm, needs-priority

#11258 feat: Add grpc timeouts annotations
  docs/examples/grpc/README.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  go.mod
  go.sum
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/grpc.go
  test/e2e/framework/grpc_delay.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, kind/feature, priority/backlog, approved, ok-to-test, triage/accepted

#11343 Annotations: Drop SSLv2, SSLv3, TLSv1 & TLSv1.1 support.
  docs/user-guide/tls.md
  internal/ingress/annotations/proxyssl/main.go
  internal/ingress/annotations/proxyssl/main_test.go
  internal/ingress/annotations/sslcipher/main.go
  pkg/apis/ingress/types.go
  test/data/config.json
  test/e2e/annotations/proxyssl.go
Labels: cncf-cla: yes, lgtm, area/docs, size/XXL, kind/bug, priority/backlog, approved, kind/cleanup, triage/accepted

#11389 Docs: Move multiple controllers FAQ.
  docs/faq.md
  docs/user-guide/k8s-122-migration.md
Labels: cncf-cla: yes, lgtm, area/docs, size/L, priority/backlog, kind/documentation, approved, triage/accepted

#11390 added info for aws helm install
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/L, priority/backlog, kind/documentation, approved, triage/accepted

#11393 edited helm-install tips
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/M, priority/backlog, kind/documentation, approved, triage/accepted

#11394 Fix helm install on cloud provider admonition block
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/S, do-not-merge/hold, kind/documentation, approved, ok-to-test, triage/accepted, needs-priority

#11395 Rename variable to fix typo
  internal/ingress/controller/config/config.go
  internal/ingress/controller/template/template.go
Labels: cncf-cla: yes, lgtm, size/XS, kind/bug, priority/backlog, needs-ok-to-test, approved, triage/accepted

#11398 Go: Sync modules from `main`.
  go.mod
  go.sum
  go.work
  go.work.sum
Labels: cncf-cla: yes, lgtm, size/XXL, priority/backlog, approved, kind/cleanup, triage/accepted
