Repository kubernetes/ingress-nginx, pull requests merged in 2024-03, with the labels that each got.

#11050 set deploy url to v1-10-0 in docs
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/S, kind/bug, priority/important-soon, kind/documentation, approved, triage/accepted

#11052 quotes around numbers fort ports definitions
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, area/helm, needs-priority

#11065 Update README.md by remove older version, left latest for release train.
  README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, needs-kind, needs-triage, needs-priority

#11069 docs(examples): update the 404 link to FAQ
  docs/examples/rewrite/README.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, kind/bug, approved, ok-to-test, triage/accepted, needs-priority

#11070 bump golang
  GOLANG_VERSION
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#11071 golangci-lint update, ci cleanup, group dependabot updates
  .github/actions/mkdocs/Dockerfile
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/images.yaml
  .github/workflows/plugin.yaml
  .golangci.yml
  cmd/dbg/main.go
  cmd/nginx/main.go
  cmd/plugin/commands/backends/backends.go
  cmd/plugin/commands/certs/certs.go
  cmd/plugin/commands/conf/conf.go
  cmd/plugin/commands/exec/exec.go
  cmd/plugin/commands/general/general.go
  cmd/plugin/commands/info/info.go
  cmd/plugin/commands/ingresses/ingresses.go
  cmd/plugin/commands/lint/main.go
  cmd/plugin/commands/logs/logs.go
  cmd/plugin/commands/ssh/ssh.go
  images/opentelemetry/rootfs/init_module.go
  internal/ingress/annotations/authreq/main.go
  internal/ingress/annotations/canary/main.go
  internal/ingress/annotations/parser/validators_test.go
  internal/ingress/controller/checker_test.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/location.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/nginx_test.go
  internal/ingress/controller/status.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/template/template.go
  internal/ingress/metric/collectors/admission_test.go
  internal/ingress/metric/collectors/controller_test.go
  internal/ingress/metric/collectors/socket.go
  internal/ingress/metric/collectors/socket_test.go
  internal/ingress/metric/collectors/testutils.go
  internal/net/ssl/ssl.go
  internal/net/ssl/ssl_test.go
  internal/nginx/maxmind.go
  magefiles/steps/release.go
  magefiles/utils/e2edocs.go
  test/e2e/framework/exec.go
  test/e2e/framework/framework.go
  test/e2e/framework/httpexpect/request.go
  test/e2e/tcpudp/tcp.go
Labels: cncf-cla: yes, lgtm, size/L, approved, needs-kind, needs-triage, needs-priority

#11062 Fix ACME when mTLS with client CN check is enabled
  rootfs/etc/nginx/template/nginx.tmpl
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#11082 Undo #11062 since it breaks the nginx config
  rootfs/etc/nginx/template/nginx.tmpl
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#11032 Chart: Deploy `PodDisruptionBudget` with KEDA.
  charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
  charts/ingress-nginx/tests/controller-poddisruptionbudget_test.yaml
Labels: cncf-cla: yes, lgtm, size/M, kind/bug, priority/backlog, approved, ok-to-test, triage/accepted, area/helm

#11107 Chart: Add Gacko to maintainers. Again.
  charts/ingress-nginx/Chart.yaml
Labels: cncf-cla: yes, lgtm, size/XS, kind/bug, priority/backlog, approved, triage/accepted, area/helm

#11110 Chart: Align HPA & KEDA conditions.
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/templates/controller-keda.yaml
  charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
  charts/ingress-nginx/tests/controller-deployment_test.yaml
  charts/ingress-nginx/tests/controller-hpa_test.yaml
  charts/ingress-nginx/tests/controller-keda_test.yaml
  charts/ingress-nginx/tests/controller-poddisruptionbudget_test.yaml
Labels: cncf-cla: yes, lgtm, size/M, kind/bug, priority/backlog, approved, triage/accepted, area/helm

#11081 Fix typos in OTel doc
  docs/user-guide/third-party-addons/opentelemetry.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#11129 Fix typos in OTel doc
  docs/user-guide/third-party-addons/opentelemetry.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, priority/backlog, kind/documentation, approved, ok-to-test, triage/accepted

#11109 Chart: Add IngressClass aliases.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-ingressclass-aliases.yaml
  charts/ingress-nginx/tests/controller-ingressclass-aliases_test.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/L, kind/feature, priority/backlog, approved, triage/accepted, area/helm

#11079 feature(geoip2_autoreload): Enable GeoIP2 auto_reload config
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/settings/geoip2.go
Labels: cncf-cla: yes, lgtm, area/docs, size/M, kind/feature, priority/backlog, approved, ok-to-test, triage/accepted

#11150 fix geoip2 configuration docs
  docs/user-guide/nginx-configuration/configmap.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, kind/documentation, approved, ok-to-test, triage/accepted, needs-priority

#11155 Add GRPC Buffer Size to the Configmap
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/settings/grpc.go
Labels: cncf-cla: yes, lgtm, area/docs, size/XL, kind/feature, priority/backlog, approved, tide/merge-method-squash, ok-to-test, triage/accepted

#11156 Chores: Remove redundant whitespaces.
  docs/user-guide/nginx-configuration/configmap.md
  rootfs/etc/nginx/template/nginx.tmpl
Labels: cncf-cla: yes, lgtm, area/docs, size/S, priority/backlog, approved, kind/cleanup, triage/accepted

#11142 Controller: Make Leader Election TTL configurable.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/_params.tpl
  charts/ingress-nginx/values.yaml
  docs/user-guide/cli-arguments.md
  internal/ingress/controller/controller.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/status.go
  pkg/flags/flags.go
  pkg/flags/flags_test.go
Labels: cncf-cla: yes, lgtm, area/docs, size/L, kind/feature, priority/important-soon, approved, tide/merge-method-squash, ok-to-test, triage/accepted, area/helm

#11174 Proposal: e2e tests for regex patterns
  test/e2e/ingress/pathtype_prefix.go
Labels: cncf-cla: yes, lgtm, size/L, needs-ok-to-test, priority/important-soon, approved, kind/cleanup, triage/accepted

#11177 bump ginkgo to v2.17.1
  build/run-in-docker.sh
  go.mod
  go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  magefiles/go.mod
  magefiles/go.sum
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Labels: cncf-cla: yes, lgtm, size/L, priority/important-soon, approved, kind/cleanup, needs-triage

#10484 fixes brotli build issue
  images/nginx/rootfs/build.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, ok-to-test, needs-triage, needs-priority

#11178 refactor helm ci tests part I
  .ct.yaml
  .github/workflows/ci.yaml
  charts/ingress-nginx/Chart.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, needs-kind, tide/merge-method-squash, needs-triage, area/helm, needs-priority
