Repository kubernetes/ingress-nginx, pull requests merged in 2024-09, with the labels that each got.

#11931 Chart: Implement `controller.admissionWebhooks.service.servicePort`.
  charts/ingress-nginx/templates/admission-webhooks/validating-webhook.yaml
  charts/ingress-nginx/templates/controller-service-webhook.yaml
  charts/ingress-nginx/tests/admission-webhooks/validating-webhook_test.yaml
  charts/ingress-nginx/tests/controller-service-webhook_test.yaml
Labels: cncf-cla: yes, lgtm, size/M, kind/bug, priority/backlog, approved, ok-to-test, triage/accepted, area/helm

#11935 Fix minor typos
  .github/workflows/zz-tmpl-images.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
  Changelog.md
  MANUAL_RELEASE.md
  NEW_CONTRIBUTOR.md
  build/run-ingress-controller.sh
  changelog/controller-1.11.0.md
  changelog/controller-1.6.4.md
  changelog/controller-1.7.1.md
  changelog/controller-1.8.0.md
  changelog/controller-1.9.0-beta.0.md
  changelog/controller-1.9.0.md
  charts/ingress-nginx/changelog/helm-chart-4.1.2.md
  charts/ingress-nginx/changelog/helm-chart-4.7.0.md
  cmd/plugin/request/request.go
  docs/e2e-tests.md
  docs/examples/index.md
  docs/examples/openpolicyagent/README.md
  docs/examples/openpolicyagent/template.yaml
  docs/user-guide/third-party-addons/opentelemetry.md
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s_test.go
  internal/admission/controller/server.go
  internal/ingress/annotations/loadbalancing/main.go
  internal/ingress/annotations/mirror/main_test.go
  internal/ingress/annotations/serversnippet/main.go
  internal/ingress/annotations/serviceupstream/main.go
  internal/ingress/annotations/snippet/main.go
  internal/ingress/annotations/streamsnippet/main.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/endpointslices.go
  internal/ingress/controller/nginx_test.go
  internal/ingress/controller/store/endpointslice_test.go
  internal/ingress/controller/store/store_test.go
  internal/ingress/controller/util.go
  internal/ingress/metric/collectors/controller.go
  internal/ingress/resolver/main.go
  internal/ingress/resolver/mock.go
  internal/net/ssl/ssl.go
  pkg/apis/ingress/types.go
  rootfs/etc/nginx/lua/test/balancer/sticky_test.lua
  test/e2e/endpointslices/topology.go
  test/e2e/framework/deployment.go
  test/e2e/framework/framework.go
  test/e2e/gracefulshutdown/shutdown.go
  test/e2e/settings/global_external_auth.go
  test/k6/loadtest.js
  test/k6/smoketest.js
Labels: cncf-cla: yes, lgtm, area/docs, size/L, needs-ok-to-test, approved, needs-kind, needs-triage, area/helm, needs-priority, area/lua

#11940 Fix minor typos
  .github/workflows/zz-tmpl-images.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
  Changelog.md
  MANUAL_RELEASE.md
  NEW_CONTRIBUTOR.md
  build/run-ingress-controller.sh
  changelog/controller-1.6.4.md
  changelog/controller-1.7.1.md
  changelog/controller-1.8.0.md
  changelog/controller-1.9.0-beta.0.md
  changelog/controller-1.9.0.md
  charts/ingress-nginx/changelog/helm-chart-4.1.2.md
  charts/ingress-nginx/changelog/helm-chart-4.7.0.md
  cmd/plugin/request/request.go
  docs/e2e-tests.md
  docs/examples/index.md
  docs/examples/openpolicyagent/README.md
  docs/examples/openpolicyagent/template.yaml
  docs/user-guide/third-party-addons/opentelemetry.md
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s_test.go
  internal/admission/controller/server.go
  internal/ingress/annotations/loadbalancing/main.go
  internal/ingress/annotations/mirror/main_test.go
  internal/ingress/annotations/serversnippet/main.go
  internal/ingress/annotations/serviceupstream/main.go
  internal/ingress/annotations/snippet/main.go
  internal/ingress/annotations/streamsnippet/main.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/endpointslices.go
  internal/ingress/controller/nginx_test.go
  internal/ingress/controller/store/endpointslice_test.go
  internal/ingress/controller/store/store_test.go
  internal/ingress/controller/util.go
  internal/ingress/metric/collectors/controller.go
  internal/ingress/resolver/main.go
  internal/ingress/resolver/mock.go
  internal/net/ssl/ssl.go
  pkg/apis/ingress/types.go
  rootfs/etc/nginx/lua/test/balancer/sticky_test.lua
  test/e2e/endpointslices/topology.go
  test/e2e/framework/deployment.go
  test/e2e/framework/framework.go
  test/e2e/gracefulshutdown/shutdown.go
  test/e2e/settings/global_external_auth.go
  test/k6/loadtest.js
  test/k6/smoketest.js
Labels: cncf-cla: yes, area/docs, size/L, kind/bug, priority/backlog, approved, triage/accepted, area/helm, area/lua

#11941 Fix minor typos
  .github/workflows/zz-tmpl-images.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
  Changelog.md
  MANUAL_RELEASE.md
  NEW_CONTRIBUTOR.md
  build/run-ingress-controller.sh
  changelog/controller-1.11.0.md
  changelog/controller-1.6.4.md
  changelog/controller-1.7.1.md
  changelog/controller-1.8.0.md
  changelog/controller-1.9.0-beta.0.md
  changelog/controller-1.9.0.md
  charts/ingress-nginx/changelog/helm-chart-4.1.2.md
  charts/ingress-nginx/changelog/helm-chart-4.7.0.md
  cmd/plugin/request/request.go
  docs/e2e-tests.md
  docs/examples/index.md
  docs/examples/openpolicyagent/README.md
  docs/examples/openpolicyagent/template.yaml
  docs/user-guide/third-party-addons/opentelemetry.md
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s_test.go
  internal/admission/controller/server.go
  internal/ingress/annotations/loadbalancing/main.go
  internal/ingress/annotations/mirror/main_test.go
  internal/ingress/annotations/serversnippet/main.go
  internal/ingress/annotations/serviceupstream/main.go
  internal/ingress/annotations/snippet/main.go
  internal/ingress/annotations/streamsnippet/main.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/endpointslices.go
  internal/ingress/controller/nginx_test.go
  internal/ingress/controller/store/endpointslice_test.go
  internal/ingress/controller/store/store_test.go
  internal/ingress/controller/util.go
  internal/ingress/metric/collectors/controller.go
  internal/ingress/resolver/main.go
  internal/ingress/resolver/mock.go
  internal/net/ssl/ssl.go
  pkg/apis/ingress/types.go
  rootfs/etc/nginx/lua/test/balancer/sticky_test.lua
  test/e2e/endpointslices/topology.go
  test/e2e/framework/deployment.go
  test/e2e/framework/framework.go
  test/e2e/gracefulshutdown/shutdown.go
  test/e2e/settings/global_external_auth.go
  test/k6/loadtest.js
  test/k6/smoketest.js
Labels: cncf-cla: yes, area/docs, size/L, kind/bug, priority/backlog, approved, triage/accepted, area/helm, area/lua

#11944 Images: Use latest Alpine 3.20 everywhere.
  docs/examples/customization/sysctl/patch.json
  images/cfssl/rootfs/Dockerfile
  images/nginx-1.25/rootfs/Dockerfile
  images/nginx/rootfs/Dockerfile
  images/opentelemetry/rootfs/Dockerfile
  images/test-runner/rootfs/Dockerfile
  rootfs/Dockerfile-chroot
  test/e2e-image/Dockerfile
Labels: cncf-cla: yes, lgtm, area/docs, size/S, priority/backlog, approved, kind/cleanup, triage/accepted

#11947 Docs: Add note about `--watch-namespace`.
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, priority/backlog, kind/documentation, approved, triage/accepted

#11629 Images: Bump OpenTelemetry C++ Contrib.
  images/nginx-1.25/rootfs/build.sh
  images/opentelemetry/rootfs/build.sh
Labels: cncf-cla: yes, lgtm, size/XS, priority/backlog, approved, kind/cleanup, ok-to-test, triage/accepted

#11806 NGINX: Remove inline Lua from template.
  .github/workflows/ci.yaml
  hack/verify-lualint.sh
  internal/ingress/controller/nginx.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/util.go
  rootfs/etc/nginx/lua/lua_ingress.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_balancer.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_balancer_tcp_udp.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_certificate.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_configuration.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_content_tcp_udp.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_init_tcp_udp.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_is_dynamic_lb_initialized.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_log.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_log_block.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_rewrite_auth.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_srv_hdr_filter.lua
  rootfs/etc/nginx/lua/nginx/ngx_rewrite.lua
  rootfs/etc/nginx/lua/nginx/ngx_srv_redirect.lua
  rootfs/etc/nginx/lua/ngx_conf_init.lua
  rootfs/etc/nginx/lua/ngx_conf_init_stream.lua
  rootfs/etc/nginx/lua/ngx_conf_init_worker.lua
  rootfs/etc/nginx/lua/util.lua
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/fromtowwwredirect.go
  test/e2e/framework/framework.go
  test/e2e/lua/dynamic_configuration.go
  test/e2e/settings/no_tls_redirect_locations.go
  test/e2e/settings/ocsp/ocsp.go
  test/e2e/settings/tls.go
Labels: cncf-cla: yes, size/XL, approved, needs-kind, needs-triage, needs-priority, area/lua

#11943 Go: Bump to v1.22.7.
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/go.mod
  magefiles/go.mod
Labels: cncf-cla: yes, size/S, priority/backlog, approved, kind/cleanup, triage/accepted

#11972 Chart: Improve default backend service account.
  charts/ingress-nginx/templates/_helpers.tpl
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/templates/default-backend-serviceaccount.yaml
Labels: cncf-cla: yes, lgtm, size/XS, priority/backlog, approved, kind/cleanup, triage/accepted, area/helm

#11971 Chart: Remove Pod Security Policy.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/ci/deamonset-psp-values.yaml
  charts/ingress-nginx/ci/deamonset-webhook-and-psp-values.yaml
  charts/ingress-nginx/ci/deployment-psp-values.yaml
  charts/ingress-nginx/ci/deployment-webhook-and-psp-values.yaml
  charts/ingress-nginx/templates/_helpers.tpl
  charts/ingress-nginx/templates/admission-webhooks/job-patch/clusterrole.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/psp.yaml
  charts/ingress-nginx/templates/controller-psp.yaml
  charts/ingress-nginx/templates/controller-role.yaml
  charts/ingress-nginx/templates/default-backend-psp.yaml
  charts/ingress-nginx/templates/default-backend-role.yaml
  charts/ingress-nginx/templates/default-backend-rolebinding.yaml
  charts/ingress-nginx/values.yaml
  docs/examples/psp/README.md
  docs/examples/psp/psp.yaml
  docs/troubleshooting.md
  magefiles/utils/helm.go
  mkdocs.yml
Labels: cncf-cla: yes, area/docs, size/L, priority/backlog, do-not-merge/hold, approved, kind/cleanup, triage/accepted, area/helm

#10274 Metrics: Fix namespace in `nginx_ingress_controller_ssl_expire_time_seconds`.
  internal/ingress/metric/collectors/controller.go
  internal/ingress/metric/collectors/controller_test.go
Labels: cncf-cla: yes, lgtm, size/XS, kind/bug, priority/backlog, needs-ok-to-test, approved, triage/accepted

#11993 Chart: Align default backend `PodDisruptionBudget`.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml
  charts/ingress-nginx/tests/default-backend-poddisruptionbudget_test.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, size/M, priority/backlog, approved, kind/cleanup, triage/accepted, area/helm

#12000 Chart: Test `controller.minAvailable` & `controller.maxUnavailable`.
  charts/ingress-nginx/tests/controller-poddisruptionbudget_test.yaml
Labels: cncf-cla: yes, size/S, priority/backlog, approved, kind/cleanup, triage/accepted, area/helm

#11995 Chart: Add `defaultBackend.maxUnavailable`.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml
  charts/ingress-nginx/tests/default-backend-poddisruptionbudget_test.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, size/S, kind/feature, priority/backlog, approved, triage/accepted, area/helm

#11992 Chart: Implement `unhealthyPodEvictionPolicy`.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
  charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml
  charts/ingress-nginx/tests/controller-poddisruptionbudget_test.yaml
  charts/ingress-nginx/tests/default-backend-poddisruptionbudget_test.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, priority/backlog, needs-ok-to-test, approved, triage/accepted, area/helm

#12005 Docs: Convert `opentelemetry.md` from CRLF to LF.
  docs/user-guide/third-party-addons/opentelemetry.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XL, priority/backlog, kind/documentation, approved, triage/accepted

#12006 Docs: Convert `opentelemetry.md` from CRLF to LF.
  docs/user-guide/third-party-addons/opentelemetry.md
Labels: cncf-cla: yes, area/docs, size/XL, approved, needs-kind, needs-triage, needs-priority

#12007 Docs: Convert `opentelemetry.md` from CRLF to LF.
  docs/user-guide/third-party-addons/opentelemetry.md
Labels: cncf-cla: yes, area/docs, size/XL, approved, needs-kind, needs-triage, needs-priority

#12018 Docs: Add health check annotations for AWS.
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, priority/backlog, kind/documentation, approved, triage/accepted

#12017 Chart: Add `controller.progressDeadlineSeconds`.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/tests/controller-deployment_test.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, priority/backlog, needs-ok-to-test, approved, triage/accepted, area/helm

#12025 Chart: Extend image tests.
  charts/ingress-nginx/tests/controller-daemonset_test.yaml
  charts/ingress-nginx/tests/controller-deployment_test.yaml
  charts/ingress-nginx/tests/default-backend-deployment_test.yaml
Labels: cncf-cla: yes, size/M, priority/backlog, approved, kind/cleanup, triage/accepted, area/helm

#12026 Chart: Extend image tests.
  charts/ingress-nginx/tests/controller-daemonset_test.yaml
  charts/ingress-nginx/tests/controller-deployment_test.yaml
  charts/ingress-nginx/tests/default-backend-deployment_test.yaml
Labels: cncf-cla: yes, size/M, approved, needs-kind, needs-triage, area/helm, needs-priority

#12027 Chart: Extend image tests.
  charts/ingress-nginx/tests/controller-daemonset_test.yaml
  charts/ingress-nginx/tests/controller-deployment_test.yaml
  charts/ingress-nginx/tests/default-backend-deployment_test.yaml
Labels: cncf-cla: yes, size/M, approved, needs-kind, needs-triage, area/helm, needs-priority

#12024 Images: Remove OpenTelemetry.
  .github/workflows/images.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/ci/controller-daemonset-extra-modules-values.yaml
  charts/ingress-nginx/ci/controller-daemonset-opentelemetry-values.yaml
  charts/ingress-nginx/ci/controller-deployment-extra-modules-values.yaml
  charts/ingress-nginx/ci/controller-deployment-opentelemetry-values.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/third-party-addons/opentelemetry.md
  images/opentelemetry/Makefile
  images/opentelemetry/TAG
  images/opentelemetry/cloudbuild.yaml
  images/opentelemetry/rootfs/CMakeLists.txt
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/build.sh
  images/opentelemetry/rootfs/go.mod
  images/opentelemetry/rootfs/init_module.go
  magefiles/utils/helm.go
Labels: cncf-cla: yes, area/docs, size/XL, priority/backlog, do-not-merge/hold, approved, kind/cleanup, triage/accepted, area/helm

#12028 Chart: Add `global.image.registry`.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/tests/controller-daemonset_test.yaml
  charts/ingress-nginx/tests/controller-deployment_test.yaml
  charts/ingress-nginx/tests/default-backend-deployment_test.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, area/docs, size/M, kind/feature, priority/backlog, approved, tide/merge-method-squash, triage/accepted, area/helm

#12036 Bump the all group with 2 updates
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
  .github/workflows/depreview.yaml
  .github/workflows/docs.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/images.yaml
  .github/workflows/perftest.yaml
  .github/workflows/plugin.yaml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
  .github/workflows/zz-tmpl-images.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Labels: cncf-cla: yes, size/M, priority/backlog, approved, kind/cleanup, triage/accepted

#12035 Bump the all group with 2 updates
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
  .github/workflows/depreview.yaml
  .github/workflows/docs.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/images.yaml
  .github/workflows/perftest.yaml
  .github/workflows/plugin.yaml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
  .github/workflows/zz-tmpl-images.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Labels: cncf-cla: yes, size/M, priority/backlog, approved, kind/cleanup, triage/accepted

#12033 GitHub: Improve Dependabot.
  .github/dependabot.yml
Labels: cncf-cla: yes, lgtm, size/S, kind/bug, priority/important-soon, approved, triage/accepted
