Repository kubernetes/ingress-nginx, pull requests merged in 2024-06, with the labels that each got.

#11399 Adapt dashboards for Grafana 11 compatibility
  deploy/grafana/dashboards/README.md
  deploy/grafana/dashboards/nginx.json
  deploy/grafana/dashboards/request-handling-performance.json
Labels: cncf-cla: yes, lgtm, size/XXL, kind/bug, priority/backlog, approved, ok-to-test, triage/accepted

#11405 Docs: Remove opentracing and zipkin from docs
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  docs/user-guide/third-party-addons/opentracing.md
Labels: cncf-cla: yes, lgtm, area/docs, size/L, priority/backlog, kind/documentation, approved, triage/accepted

#11376 Chart: Make admission webhook patch job RBAC configurable.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/_helpers.tpl
  charts/ingress-nginx/templates/admission-webhooks/job-patch/clusterrole.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/clusterrolebinding.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/role.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/rolebinding.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/serviceaccount.yaml
  charts/ingress-nginx/tests/admission-webhooks/job-patch/clusterrole_test.yaml
  charts/ingress-nginx/tests/admission-webhooks/job-patch/clusterrolebinding_test.yaml
  charts/ingress-nginx/tests/admission-webhooks/job-patch/role_test.yaml
  charts/ingress-nginx/tests/admission-webhooks/job-patch/rolebinding_test.yaml
  charts/ingress-nginx/tests/admission-webhooks/job-patch/serviceaccount_test.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/L, kind/feature, priority/backlog, needs-ok-to-test, approved, triage/accepted, area/helm

#11416 Chart: Fix `IngressClass` annotations.
  charts/ingress-nginx/templates/controller-ingressclass-aliases.yaml
  charts/ingress-nginx/templates/controller-ingressclass.yaml
  charts/ingress-nginx/tests/controller-ingressclass-aliases_test.yaml
  charts/ingress-nginx/tests/controller-ingressclass_test.yaml
Labels: cncf-cla: yes, lgtm, size/M, kind/bug, priority/backlog, approved, triage/accepted, area/helm

#11427 update golang to 1.22.4
  GOLANG_VERSION
  go.mod
  go.work.sum
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, priority/backlog, approved, triage/accepted

#11437 Add Reference to guide, on how to set up Proxy Protocol for Scaleway.
  docs/deploy/index.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, kind/documentation, approved, ok-to-test, triage/accepted, needs-priority

#11433 fix for docs issue 11432
  docs/user-guide/nginx-configuration/annotations.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, kind/documentation, approved, triage/accepted, needs-priority

#11428 Alpine 3.20.0
  images/cfssl/rootfs/Dockerfile
  images/nginx-1.25/rootfs/Dockerfile
  images/nginx/rootfs/Dockerfile
  images/opentelemetry/rootfs/Dockerfile
  rootfs/Dockerfile-chroot
  test/e2e-image/Dockerfile
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, priority/backlog, approved, triage/accepted

#11434 Remove unnecessary space character
  rootfs/nginx-chroot-wrapper.sh
Labels: cncf-cla: yes, lgtm, size/XS, kind/bug, priority/backlog, needs-ok-to-test, approved, triage/accepted

#11454 fixed fastcgi userguide
  docs/user-guide/fcgi-services.md
Labels: cncf-cla: yes, lgtm, area/docs, size/L, priority/backlog, kind/documentation, approved, triage/accepted

#11453 Chart: Make pod affinity templatable.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/tests/controller-daemonset_test.yaml
  charts/ingress-nginx/tests/controller-deployment_test.yaml
  charts/ingress-nginx/tests/default-backend-deployment_test.yaml
  charts/ingress-nginx/values.yaml
Labels: cncf-cla: yes, lgtm, size/L, kind/feature, priority/backlog, needs-ok-to-test, approved, triage/accepted, area/helm

#11463 Owners: Promote Gacko to admin.
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-kind, needs-triage, needs-priority

#11462 Tests: Replace deprecated `grpc.Dial` by `grpc.NewClient`.
  test/e2e/annotations/grpc.go
  test/e2e/settings/grpc.go
Labels: cncf-cla: yes, lgtm, size/S, kind/bug, priority/important-soon, approved, triage/accepted

#11467 CI: Bump forgotten Ginkgo versions.
  build/run-in-docker.sh
  go.work.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  magefiles/go.sum
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Labels: cncf-cla: yes, lgtm, size/M, kind/bug, priority/important-soon, approved, triage/accepted

#11468 Tests: Replace deprecated `grpc.Dial` by `grpc.NewClient`.
  test/e2e/annotations/grpc.go
Labels: cncf-cla: yes, lgtm, size/XS, priority/important-soon, approved, kind/cleanup, triage/accepted

#11483 Fix boolean configuration
  docs/user-guide/nginx-configuration/configmap.md
Labels: cncf-cla: yes, lgtm, area/docs, size/S, kind/documentation, approved, ok-to-test, triage/accepted, needs-priority

#11484 Fix boolean configuration
  docs/user-guide/nginx-configuration/configmap.md
Labels: cncf-cla: yes, lgtm, area/docs, size/S, priority/backlog, kind/documentation, approved, triage/accepted

#11470 [feature] bump nginx to 1.25.5 and add http3 module
  Makefile
  images/nginx-1.25/TAG
  images/nginx-1.25/rootfs/build.sh
Labels: cncf-cla: yes, lgtm, size/M, needs-ok-to-test, approved, needs-kind, needs-triage, needs-priority

#11486 Update getting-started.md with new prerequisites as of 20240619
  docs/developer-guide/getting-started.md
Labels: cncf-cla: yes, lgtm, area/docs, size/XS, priority/backlog, kind/documentation, approved, ok-to-test, triage/accepted

#11495 docs: Update Ingress-NGINX v1.10.1 compatibility with Kubernetes v1.30
  README.md
Labels: cncf-cla: yes, lgtm, size/M, priority/backlog, kind/documentation, approved, ok-to-test, triage/accepted
